.body2 {
     width: 100%;
    margin: 20px;
    padding: 20px;
    padding-left: 50px;
    /* background-image: url(https://images.unsplash.com/photo-1599230396418-09e63394e3b0?auto=format&fit=crop&q=80&w=1887&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover; */
   background-color: #FFFFFF;
    
    margin-left: 5px;
    border-radius: 10px;
    margin-top: -10px;
}


.Menu_tag {
  background-color: #FFFFFF;
    margin-top: 20px;
    width: 100vw;
    margin-left: -50px;
    display: flex;
   border-radius: 20px;
  height: 100%;
}
   

input {
    width: 80%;
    height: 20px;
    margin-left: 70px;

}
.footer{
  background-color: #ffffff;
}

.footer-logo {
    margin-left: 37vw;
    
}

.logo {
    object-fit: cover;
    width: 250px;
    border-radius: 20px;
    height: 100px;
    
}
.nav_tabs{
  opacity: 0;
}


.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 50px;
    width: 100%;
    margin-left: 0px;
    box-shadow: 0px 2px 6px  rgba(27, 170, 27, 0.385);
   
   background-color: #FFFFFF;
 
}

.Header>ul {
  margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
}
.logo{
  margin-left: 60px;
  background-color: #EBEBEB;
  
}

.Header>ul>li {
    list-style: none;
    background-color: #FFFFFF;
    margin: 10px;
   
}

.Header>ul>li>a {
    text-decoration: none;
    background-color: #FFFFFF;
    color: black;
}
.Header>ul>li>a:hover{
    padding-right: 8px;
    color: #15b015;
    transition: all 0.3s ease;
    background-color: #FFFFFF;
   
}

.extra{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #EDEDED;
}
.extra>P{
  background-color: #EDEDED;
}

.ab {
    margin: 12px 20px;
    height: 30%;
    width: 90%;
    position: relative; /* Corrected typo 'relativel' to 'relative' */
    border-radius: 6px;
    object-fit: cover;
}

.footer-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

address {
    display: flex;
}

.Menu_tag {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-content {
    padding: 0px 20px;
}

.btn {
    background-color: rgb(32, 85, 58);
    border-radius: 5px;
  
    color: wheat;
    width: 7vw;
    height: 5vh;
    box-shadow: 2px 2px 2px 2px #d3d5d3;
    border: 0px;

}
.card{
  display: flex;
  flex-wrap: wrap;
}
.btn:hover{
  transition: all 0.3s ease-in-out;
  color: red;
  background-color: white;
  color: black;
}



.btn2 {
    margin-left: 4px;
    width: 100%;
    display: flex;
   justify-content: space-around;
    background-color: #EDEDED;
}

.card:hover{
  box-shadow: 4px 4px 4px 4px rgb(117, 221, 168);
  transition:  all 0.3s  ease-in-out;
  
}




.btn1 {
    color: wheat;
    
    box-shadow: 2px 2px 5px  #dedec4 ;
}




body{
  line-height: 1.5;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin:auto;
  background-color: #ffffff;
}
.row{
    width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  
}
ul{
  list-style: none;
}
.footer{
  background-color: #ffffff;
    padding: 70px 0;
    color: #24262b;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
   background-color: #ffffff;
}
.footer-col h4{
  background-color: #ffffff;
  font-size: 18px;
  color: #000000;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
 
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #000000;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  background-color: #ffffff;
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #baabab;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  background-color: #ffffff;
  cursor: pointer;
  color: #15b015;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: rgb(252, 0, 0);
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.search{
  color: rgb(184, 3, 3);
  width: 60%;
  height: 32px;
  padding: 2px 8px;
  border-radius: 6px;
  border: 0px ;
  background-color: #ECECEB;
  box-shadow: 2px 2px 2px  #dedec4;
  opacity: 0;
}
.search:hover{
  box-shadow: 2px 7px 7px  #dedec4 ;

}
.No_result{
  height: 240px;
  margin-left: 90px;
}
.disappointment{
  margin-left: -10px;
}
.CartCounter{
  position: absolute;
  font-size: 13px;
  background-color: red;
  border-radius: 50%;
  font-family: Roboto;
  padding: 1px 5px;
  color: white;
  margin-top: -15px;
  margin-left: -10px;
}
.UnderConstruction_cart_message{
  width: 90vw;
  margin-left: 80px;
  border-radius: 25px;
  height: 80vh;
  object-fit: cover;
  box-shadow : 2px 2px 10px 10px #90B77D;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #61D79E;
  border-radius: 6px;
}
* {
  scrollbar-color: #61D79E;
  scrollbar-width: thin;
}
* {
  scrollbar-color: #61D79E;
}
