*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.About_h1{
    font-size: 50px;
    color: #80DFB1;
    margin: 20px ;
    margin-left: 60px;
}
.About_p{
    margin-left: 60px;
}


/* Width of the entire scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track (the area where the thumb doesn't cover) */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  /* Handle (the draggable part of the scrollbar) */
  ::-webkit-scrollbar-thumb {
    background-color: #a1e579; /* Light green color */
    border-radius: 4px; /* Rounded corners */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #78c155; /* Darker green on hover */
  }
  